params {
    outdir = "results"
}

includeConfig 'conf/subworkflow_griffin_gc_and_mappability_correction.config'
includeConfig 'conf/subworkflow_griffin_nucleosome_profiling.config'

profiles {
    awsbatch  { includeConfig 'conf/awsbatch.config'  }
    docker {
        docker.enabled         = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    dockerarm {
        docker.enabled         = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        docker.runOptions      = '--platform linux/amd64'
    }
}