aws {

    client {
        connectionTimeout = 1000000
        socketTimeout = 1000000
    }

    batch.cliPath               = '/home/ec2-user/miniconda/bin/aws'
    batch.maxTransferAttempts   = 5
    batch.delayBetweenAttempts  = 1000
    region                      = 'us-east-1'
}

process.executor      = 'awsbatch'
process.queue         = "pipeline"
process.maxRetries    = 2
process.errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }

workDir = 's3://bsg-pipeline-workdir/work/kyle/griffin'
