process {

    withName: '.*:GRIFFIN_NUCLEOSOME_PROFILING:GRIFFIN_COVERAGE' {
        container   = { "878324840923.dkr.ecr.us-east-1.amazonaws.com/bsfeature/python3:0.3" }
        cpus        = { 1 }
        memory      = { 1.GB }
        queue       = "pipeline" 
        
        ext.args    = ''
        // ext.prefix  = 
        publishDir = [
            [
                enabled: true,
                path: { "${params.outdir}/${task.process.replace(':', '_').toLowerCase()}" },
                // mode: 
                pattern: "*.GC_corrected.bw"
            ],
            [
                enabled: true,
                path: { "${params.outdir}/${task.process.replace(':', '_').toLowerCase()}" },
                // mode: 
                pattern: "*.uncorrected.bw"
            ]
        ]

    }

    withName: '.*:GRIFFIN_NUCLEOSOME_PROFILING:GRIFFIN_MERGE_SITES' {
        container   = { "878324840923.dkr.ecr.us-east-1.amazonaws.com/bsfeature/python3:0.3" }
        cpus        = { 1 }
        memory      = { 1.GB }
        queue       = "pipeline" 
        
        ext.args    = ''
        // ext.prefix  = 
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/${task.process.replace(':', '_').toLowerCase()}" },
            // mode: 
            pattern: "*.tsv"
        ]
    }

    withName: '.*:GRIFFIN_NUCLEOSOME_PROFILING:GRIFFIN_PLOT' {
        container   = { "878324840923.dkr.ecr.us-east-1.amazonaws.com/bsfeature/python3:0.3" }
        cpus        = { 1 }
        memory      = { 1.GB }
        queue       = "pipeline" 
        
        ext.args    = ''
        // ext.prefix  = 
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/${task.process.replace(':', '_').toLowerCase()}" },
            // mode: 
            pattern: "*.pdf"
        ]
    }

}
