process {

    withName: '.*:GRIFFIN_GC_AND_MAPPABILITY_CORRECTION:GRIFFIN_GC_COUNTS' {
        container   = { "878324840923.dkr.ecr.us-east-1.amazonaws.com/bsfeature/python3:0.3" }
        cpus        = { 1 }
        memory      = { 1.GB }
        queue       = "pipeline" 
        
        ext.args    = ''
        // ext.prefix  = 
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/${task.process.replace(':', '_').toLowerCase()}" },
            // mode: 
            pattern: "*.GC_counts.txt"
        ]

    }

    withName: '.*:GRIFFIN_GC_AND_MAPPABILITY_CORRECTION:GRIFFIN_GC_BIAS' {
        container   = { "878324840923.dkr.ecr.us-east-1.amazonaws.com/bsfeature/python3:0.3" }
        cpus        = { 1 }
        memory      = { 1.GB }
        queue       = "pipeline" 
        
        ext.args    = ''
        // ext.prefix  = 
        publishDir = [
            [
                enabled: true,
                path: { "${params.outdir}/${task.process.replace(':', '_').toLowerCase()}" },
                // mode: 
                pattern: "*.txt"
            ],
            [
                enabled: true,
                path: { "${params.outdir}/${task.process.replace(':', '_').toLowerCase()}" },
                // mode: 
                pattern: "*.pdf"
            ]
        ] 
    }
    
}